
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');


*{

     font-family: 'Hubballi', cursive;
     text-decoration: none;
}
.developing-page{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.developing-page .content-box{

    margin-top: 4rem;
}

.link a:hover{

    color: black;
    font-size: 12px;
}





